apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: tenants
spec:
  generators:
    - git:
        repoURL: https://github.com/kostis-codefresh/argocd-applicationset-demo.git
        revision: HEAD
        files:
          - path: "argocd/tenants-discovery/**/config.json"
  template:
    metadata:
      name: '{{tenant.id}}'
    spec:
      project: default
      source:
        repoURL: https://github.com/kostis-codefresh/argocd-applicationset-demo.git
        targetRevision: HEAD
        path: 'tenants/{{tenant.id}}'
        helm:
          valueFiles:
            - values.{{tenant.id}}.yaml
      destination:
        server: '{{k8s_cluster.address}}'
        namespace: '{{k8s_cluster.namespace}}'

